<%- include('partials/header'); -%>
<section class="hero" style="padding:20px";>
<link rel="stylesheet" href="css/blog.css">
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
<br><Br><br>
<br>
<section class="blog_row">
<h1 class ="title">Blogs
</h1><div class="row">
 <%  posts.forEach(function(post){ %>

   <div class="column">
      <div class="blog-card">
	     <img class="blog-img" src="images/radio_astronomy.jpg" >
	         <div class="text-overlay">
		        <h2><%=post.title%></h2>
		        <p> <%=post.content.substring(0, 100) + " ..."%>
                <a href="/blog/posts/<%=post.title%>" class="read-more">Read More</a></p>
	         </div>
      </div>
   </div>
   <% }) %>
 </div>


</section>


</section>

<%- include('partials/footer'); -%>